/* # Links */

&-link{	
	display: inline-block;
	position: relative;
	color: $theme-color;

	&:hover{
		color: $dark;
	}

	&--alt{
		display: inline-block;
		position: relative;
		color: $dark;

		&:hover{
			color: $theme-color;
		}

	}


	&--underline{

		&:after{
			content:'';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0.2rem;
			background-color: $dark;
		}

		&:hover{

			color: $theme-color;

			&:after{
				background-color: $theme-color;
			}

		}
	}

}
