/*****************/
/****** Introduction section *****/
/*****************/

&-introduction{
	padding-bottom: 4rem;

	@include mq($from: desktop){
		padding-bottom: 0;
	
	}
}



/*****************/
/****** References section *****/
/*****************/

&-references{
	
	position: relative;
	margin: 10rem 0 6rem;

	&:before{
		content:'';
		display: block;
		position: absolute;
		left: -$gutter;
		right: -$gutter;
		top: - $gutter * 2; 
		bottom: - $gutter * 2;
		background-color: $alt-theme-color;
	}

	@include mq($from: tablet){
		margin: 8rem 0 2rem;

		&:before{
			left: - $desktop-gutter;
			right: 8rem;
			background-color: $alt-theme-color;
		}
	}

	@include mq($from: desktop){
		margin: 0;

		&:before{
			content:'';
			display: none;
		}
	}

	&__title{
		display: inline-block;
		position: relative;
		margin-bottom: 2rem;
		
		&:after{
			content:'';
			display: block;
			position: absolute;
			bottom: -1rem;
			left: 0;
			width: 40%;
			height: 0.2rem;
			background-color: $dark;
		}
	}

	&__list{
		
		@include font-style-4;

		@include mq($from: desktop){
			@include font-style-2;
		
		}

		&__item{

			@include mq($from: tablet){
				display: inline;
			}

			display: block;

			&:after{
				content: ".";
				position: relative;
				color: $dark;
			}

			&:last-child(){

				&:after{
					content:'';
				}

			}
		}
	}
}    



/*****************/
/****** Introduction & Reference layout for desktop *****/
/*****************/

&-introduction,
&-references{

	@include mq($from: desktop){
		padding-top: 6rem;
	
	}

		&__content{

			@include mq($from: tablet){
				max-width: 66.66%;
		    }

			@include mq($from: desktop){
				max-width: 345px;
			    margin-right: 0;
			    margin-left: auto;
			    display: block;
		    }
		}

		

}    