/*****************/
/****** Footer *****/
/*****************/

&-footer
{	
	
	padding: 2rem 0 2rem;
	text-align: left;

	@include mq($from:tablet){
		padding: 6rem 0 2rem 0;
		text-align: center;
	}
	

	@include mq($from:desktop){
		padding: 6rem 0;
	}


	/*****************/
	/****** Footer Ext Links (ul) *****/
	/*****************/
	
	&__list{

		display: inline-block;
		width: 100%;

		/*****************/
		/****** Project list items (li) *****/
		/*****************/
		
		&__item{
		
			display: inline-block;
			padding-right: 3rem;
			padding-bottom: 1rem;
		
			&:nth-child(odd){
				width: 50%;
				@include  no-inline-block-margin();
			}

			&:nth-child(even){
				width: 50%;
				@include  no-inline-block-margin();
			}
			
			@include mq($from:tablet){
				width: auto;
				margin-right: 5rem;
				padding-right: 0;

				&:nth-child(odd){
					width: auto;
					margin-right: 5rem;
				}

				&:nth-child(even){
					width: auto;
					margin-right: 5rem;
				}

				&:last-child{
					margin-right: 0;
				}

			}

		}

	}
	
	&__link{

		@include button($dark,$theme-color,false);

	}

}