/* # Layout */

&-centered{
	margin: auto;
	padding: 0 $gutter;
	max-width: 136rem;

	@include mq($from: tablet) {
		padding: 0 $desktop-gutter; 
    }

}

&-main-layout{
	
	@extend .ap-centered;

	@include mq($from: desktop){
		position: relative;
		width: 100%;
		min-height: 52rem; //size of slider
	}

	

	&__col{
		
		&--wide{
			@include mq($from: desktop){
				width: 66.66%;
				padding-left: $desktop-gutter;
			}
		}

		&--small{

			width: 100%;
			padding-left: 0;

			@include mq($from: tablet){
				width: 66.66%;;
			}
			
			@include mq($from: desktop){
				width: 100%;
				padding-left: calc(66.66% + #{$desktop-gutter;});
			}
		}

	}

}