/* # Layout */

&-centered{
	margin: auto;
	padding: 0 $gutter;
	max-width: 136rem;

	@include mq($from: desktop) {
		padding: 0 $desktop-gutter; 
    }

}

&-main-layout{
	
	position: relative;
	width: 100%;
	max-width: 136rem;
	min-height: 52rem; //size of slider
	margin: auto;

	&__col{
		
		&--wide{
			width: 66.66%;
			padding-left: $desktop-gutter;
		}

		&--small{
			padding: 0 $desktop-gutter;
			width: 100%;
			padding-left: calc(66.66% + #{$desktop-gutter;});
			padding-right: $desktop-gutter;
		}

	}

}